<h1>Create your new group</h1>

<form action="/grouphome" method="POST">
    <input type = "text" name= "groupName" placeholder = "Name your group with a beautiful name">
    <input type = "text" name= "type" placeholder = "Select your type">
    <input type = "text" name= "objective" placeholder = "what is your objective behind creating this group??">
    <button>Create Group</button>
</form>