<h1>Welcome</h1>

<form action="/grouphome" method="POST">
    <button>Create Group</button>
</form>


<li><a href = "/register">Signup</a></li>
<li><a href = "/logout">Logout</a></li>
<li><a href = "/login">Login</a></li>