<h1>User Profile Page</h1>

<table class="table table-inverse">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
          
                  </tr>
                </thead>
          
                <tbody>
                  <!-- <% for(var i=0; i < infos.length; i++) { %>
                 <tr>
          
                   <td><%= infos %></td>
                   <td><%= infos[i].eMail %></td>
                   <td><%= infos[i].username %></td>
          
          
                 </tr>
              <% } %> -->
              <td><%= infos %></td>
                </tbody>
          
              </table>