<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
	<link rel="stylesheet" href="stylepro.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
 <div class="profile">
 	<div class="title">
       <h1>My Profile</h1>
 	</div>
    <div class="main-container">
    	<h1><%= infos.firstName %> </h1>
    	<h3><%= infos.eMail %></h1>
		<h1>Enrolled list of groups</h1>
		<a href = "/editProfile">Edit your profile</a>

 </div>

 </div>

</body>
</html>